@import "../../assets/styles/colors.scss";
.container {
  position: relative;
  height: 491px;
  max-width: 500px;
  width: 100%;
  background-color: $secondary;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  grid-column: 1/5;
  a {
    text-decoration: none;
    list-style: none;
  }
  .title {
    color: $white;
    font-size: 32px;
    font-weight: bold;
  }
  .content {
    color: $white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: relative;
    .option {
      text-align: center;
      width: 100%;
      margin: 12px 0;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 400px;
        height: 4px;
        background-color: $primary;
        border-radius: 5px;
      }
    }
  }
  .btn {
    font-size: 20px;
    background: transparent;
    color: $white;
    border: 2px solid $white;
    padding: 10px;
    border-radius: 10px;
  }
}