@import '../../assets/styles/colors.scss'; 

.main{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-gray;
    .data {
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        text-align:center;
        font-size:x-large;
        &:nth-child(odd){
            background-color:$white;
        }
        &:nth-child(even){
            background-color:$light-gray;
        }
        p{
        width:100%;
        height:100%;
        }
    }
}